.home-top-content {
  width: 100%;
  /* background-image: linear-gradient(
    to right,
    rgb(120, 221, 252),
    rgb(69, 171, 255),
    rgb(69, 143, 255),
    rgb(140, 69, 255)
  ); */
  --gradient-from: 247 185 85;
  --gradient-to: 255 0 128;
  background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0) 100%),
    linear-gradient(
      90deg,
      rgb(var(--gradient-from, 192.5 192.5 192.5) / 0.08) 0,
      rgb(var(--gradient-to, 192.5 192.5 192.5) / 0.08) 100%
    ),
    linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 90%,
      transparent
    );

  margin-bottom: 16px;
  /* border-bottom-left-radius: 64px;
  border-bottom-right-radius: 64px; */
}

.rotate-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 500px;
}

.rotate-middle-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-top-bar {
  margin-top: -500px;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 5;
  position: relative;
}

.top-bar div:nth-child(1) {
  padding-bottom: 10px;
}

.home-welcome-title-ch {
  font-size: 84px;
  font-weight: 800;
  width: 100%;
  display: flex;
  justify-content: center;
  /* color: #ffffff; */
  background: linear-gradient(180deg, #555, #000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-welcome-title-eg {
  font-size: 43px;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
  /* color: #ffffff; */
  background: linear-gradient(180deg, #555, #000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .home-welcome-title-ch {
    font-size: 42px;
  }

  .home-welcome-title-eg {
    font-size: 28px;
  }
}
