.home-top-content {
  width: 100%;
  /* background-image: linear-gradient(
    to right,
    rgb(120, 221, 252),
    rgb(69, 171, 255),
    rgb(69, 143, 255),
    rgb(140, 69, 255)
  ); */
  --gradient-from: 247 185 85;
  --gradient-to: 255 0 128;
  background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0) 100%),
    linear-gradient(
      90deg,
      rgb(var(--gradient-from, 192.5 192.5 192.5) / 0.08) 0,
      rgb(var(--gradient-to, 192.5 192.5 192.5) / 0.08) 100%
    ),
    linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 90%,
      transparent
    );
}

.rotate-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.rotate-middle-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-top-bar {
  margin-top: -550px;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  z-index: 5;
  position: relative;
}

.top-bar div:nth-child(1) {
  padding-bottom: 10px;
}

.home-welcome-title-ch {
  color: #000;
  /* background-image: linear-gradient(180deg, #555, #000);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
}

.home-welcome-title-eg {
  color: #000;
}

.home-welcome-desc {
  width: 100%;
  color: #555;
}

.home-welcome-contact {
  display: inline-block;
  width: fit-content;
  background: linear-gradient(
    135deg,
    rgb(var(--gradient-from) / 0.15) 0,
    rgb(var(--gradient-to) / 0.15) 100%
  );
  color: #000;
}

@media screen and (max-width: 910px) {
  .home-top-text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .home-welcome-title-ch {
    font-size: 44px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }
  .home-welcome-title-eg {
    font-size: 24px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
  }
  .home-welcome-desc {
    display: none;
  }
  .home-welcome-contact {
    display: none;
  }
}
@media screen and (min-width: 911px) and (max-width: 1199px) {
  .home-top-text-content {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .home-welcome-title-ch {
    font-size: 54px;
    font-weight: 800;
    line-height: 73px;
  }

  .home-welcome-title-eg {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .home-welcome-desc {
    padding-top: 32px;
    width: 600px;
    line-height: 24px;
    font-size: 14px;
  }

  .home-welcome-contact {
    margin-top: 24px;
    padding: 10px 20px;
    border-radius: 32px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1792px) {
  .home-top-text-content {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .home-welcome-title-ch {
    font-size: 56px;
    font-weight: 800;
    line-height: 73px;
  }

  .home-welcome-title-eg {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
  }

  .home-welcome-desc {
    padding-top: 32px;
    width: 580px;
    line-height: 28px;
    font-size: 14px;
  }

  .home-welcome-contact {
    margin-top: 24px;
    padding: 10px 20px;
    border-radius: 32px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1793px) {
  .home-top-text-content {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .home-welcome-title-ch {
    font-size: 70px;
    font-weight: 800;
    line-height: 73px;
  }

  .home-welcome-title-eg {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 8px;
  }

  .home-welcome-desc {
    padding-top: 32px;
    width: 720px;
    line-height: 32px;
    font-size: 16px;
  }

  .home-welcome-contact {
    margin-top: 32px;
    padding: 12px 24px;
    border-radius: 32px;
    font-size: 18px;
  }
}
