.me-info-content {
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.me-info-middle-content {
  width: 700px;
}

.me-info-title {
  font-size: 36px;
  font-weight: 700;
  color: rgb(46, 46, 46);
}

.me-info-title-work {
  padding-top: 8px;
}

.me-info-skill-content {
  padding-top: 8px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.me-info-skill-img {
  width: 700px;
  height: 400px;
  background-color: white;
}
