.me-info-content {
  padding: 0px 16px 28px;
}

.me-info-wrap {
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.me-info-middle-content {
  width: 700px;
}

.me-info-title {
  font-size: 36px;
  font-weight: 200;
  color: rgb(46, 46, 46);
}

.me-info-title-second {
  padding-top: 8px;
}

.me-info-skill-content {
  padding-top: 8px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.me-info-skill-img {
  background-color: white;
  overflow-x: auto;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .me-info-title {
    font-size: 28px;
  }

  .home-note-desc {
    font-size: 16px;
    line-height: 24px;
  }
}