.me-info-content {
    padding: 0 16px 28px;
}
.me-info-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    flex-direction: row;
}
.me-info-middle-content {
    width: 660px;
}
.me-info-title {
    font-size: 36px;
    font-weight: 200;
    color: rgb(46 46 46);
}
.me-info-title-second {
    padding-top: 8px;
}
.me-info-skill-content {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 24px;
    flex-direction: row;
}
.me-info-skill-img {
    overflow-x: auto;
    background-color: white;
}

@media screen and (min-width: 0) and (max-width: 900px) {
    .me-info-title {
        font-size: 28px;
    }
    .home-note-desc {
        font-size: 16px;
        line-height: 24px;
    }
}
