@use "src/styles/variables.scss";

@function vw($target) {
  $vw-context: (780 * 0.01) * 1px;

  @return ($target / $vw-context) * 1vw;
}

.content {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 64px 0;
  border-bottom: 1px solid var(--accents-2);

}

.middleContent {
  width: 1280px;
}

.table {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  grid-gap: 16px;
  gap: 16px;
  margin-top: 48px;
  width: 100%;
}

.oneLine {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 48px;
  grid-gap: 24px;
}

.col {
  width: 0;
  height: auto;
  border: 0.5px solid #dfdfdf;
}

.btnContent {
  display: block;
  margin: 64px auto 0;
  padding: 15px 40px;
  max-width: 172px;
  font-size: 18px;
  border: 1px solid #767676;
  text-align: center;
  color: #767676;
  cursor: pointer;
  transition: all 0.2s;
}

.btnContent:hover {
  border: 1px solid black;
  color: white;
  background-color: black;
}

@media screen and (min-width: variables.$large-down-size) and (max-width: variables.$large-up-size) {

  .middleContent {
    width: 1120px;
  }
}

@media screen and (min-width: variables.$middle-down-size) and (max-width: variables.$middle-up-size) {

  .middleContent {
    width: 910px;
  }
}

@media screen and (max-width: variables.$small-size) {

  .content {
    padding: vw(84px) vw(20px);
  }

  .middleContent {
    width: auto;
  }

  .oneLine {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: vw(28px);
  }
}
