.table-project-item-content {
    padding: 24px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    transition: box-shadow 0.1s ease, border 0.1s ease;
    cursor: pointer;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    transition-property: box-shadow, border;
}
.table-project-item-title {
    font-size: 18px;
    font-weight: 600;
}
.table-project-item-sub-title {
    padding: 14px 0;
    font-size: 15px;
    line-height: 24px;
}
.table-project-item-link-content {
    display: flex;
    flex-direction: row;
}
.table-project-item-link {
    font-size: 14px;
    color: #0070f3;
    transition: color 0.1s ease;
}
.table-project-item-link-arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.table-project-item-content:hover {
    box-shadow: 0 8px 30px rgb(0 0 0 / 12%);
}
.table-project-item-content:hover .table-project-item-link {
    text-decoration: underline;
    text-decoration-color: rgb(48 124 255);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}
.table-project-item-link:hover {
    color: #0071f384;
}

@media screen and (max-width: 910px) {
    .table-project-item-sub-title {
        font-size: 12px;
    }
}
