.content {
  padding: 24px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  transition: box-shadow 0.1s ease, border 0.1s ease;
  cursor: pointer;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  transition-property: box-shadow, border;
}

.content:hover {
  box-shadow: 0 8px 30px rgb(0 0 0 / 12%);
}

.content:hover .link {
  text-decoration: underline;
  text-decoration-color: rgb(48 124 255);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.link {
  font-size: 14px;
  color: #0070f3;
  transition: color 0.1s ease;
}

.link:hover {
  color: #0071f384;
}
