@use "src/styles/variables.scss";

@function vw($target) {
  $vw-context: (1000 * 0.01) * 1px;
  
  @return ($target / $vw-context) * 1vw;
}

.content {
  padding-bottom: 24px;
  font-family: Cereal,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.type {
  font-size: 18px;
  color: #767676;
}

.title {
  font-size: 34px;
  font-weight: 700;
  color: #2b2b2b;
}

.label {
  padding-top: 12px;
  font-size: 20px;
  color: #636363;
}

@media screen and (max-width: variables.$small-size) {

  .type {
    font-size: vw(40px);
    text-align: center;
  }
      
  .title {
    font-size: vw(84px);
    text-align: center;
  }
      
  .label {
    padding-top: vw(24px);
    font-size: vw(36px);
    text-align: center;
    line-height: vw(68px);
  }
}