.content {
  padding-top: 64px;
  padding-bottom: 24px;
  font-family: Cereal,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.type {
  font-size: 16px;
  color: #767676;
}

.title {
  font-size: 34px;
  font-weight: 700;
  color: #2b2b2b;
}

.label {
  padding-top: 16px;
  font-size: 22px;
  color: #636363;
}