@use 'src/styles/variables.scss';

.content {
  display: flex;
  justify-content: center;
  padding: 240px 0;
  // border-top: 1px solid #eaeaea;
  // border-bottom: 1px solid #eaeaea;
  background-color: #f0f0f0;
  flex-direction: column;
  // @include variables.plaid-bg-grey;
}

.textAndPicContent {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .textAndPic {
    width: 1400px;

    .textContent {
      .textTitle {
        height: 80px;
        width: 480px;
        font-family: Helvetica;
        font-size: 32px;
        color: #546680;
        line-height: 40px;
        padding-bottom: 32px;
      }
      .textLabel {
        height: 112px;
        width: 480px;
        font-family: Helvetica;
        font-size: 20px;
        color: #7c8ca3;
        line-height: 28px;
      }
    }
  }
}

// @media screen and (min-width: variables.$max-size) {
// }

// @media screen and (min-width: variables.$large-down-size) and (max-width: variables.$large-up-size) {
// }

// @media screen and (min-width: variables.$middle-down-size) and (max-width: variables.$middle-up-size) {
// }

// @media screen and (max-width: variables.$small-size) {
// }
