@use "src/styles/variables.scss";

.content {
  display: flex;
  justify-content: center;

  .middleContent {
    width: 1400px;
  }
}

.title {
  margin: 24px;
  padding: 48px 0 0;
  font-size: 14px;
  font-family: Cereal,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  border-top: 1px solid #dfdfdf;
  color: #2b2b2b;
  line-height: 32px;
  letter-spacing: .8px;
  text-transform: uppercase;
}

.textAndPicContent {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .textAndPic {
    width: 1400px;

    .textContent {

      .textTitle {
        padding-bottom: 32px;
        width: 480px;
        height: 80px;
        font-size: 32px;
        font-family: Helvetica;
        color: #546680;
        line-height: 40px;
      }

      .textLabel {
        width: 480px;
        height: 112px;
        font-size: 20px;
        font-family: Helvetica;
        color: #7c8ca3;
        line-height: 28px;
      }
    }
  }
}

// @media screen and (min-width: variables.$max-size) {
// }

// @media screen and (min-width: variables.$large-down-size) and (max-width: variables.$large-up-size) {
// }

// @media screen and (min-width: variables.$middle-down-size) and (max-width: variables.$middle-up-size) {
// }

// @media screen and (max-width: variables.$small-size) {
// }
