@use "src/styles/variables.scss";

.content {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;

  .middleContent {
    width: 1400px;
  }
}

.title {
  padding: 48px 0;
  font-size: 22px;
  font-weight: 800;
  border-top: 1px solid #dfdfdf;
  color: #ff919c;
  letter-spacing: .8px;
}

.oneLine {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 32px;
}

.col {
  width: 0;
  height: 300px;
  border: 0.5px solid #dfdfdf;;
}

// @media screen and (min-width: variables.$max-size) {
// }

// @media screen and (min-width: variables.$large-down-size) and (max-width: variables.$large-up-size) {
// }

// @media screen and (min-width: variables.$middle-down-size) and (max-width: variables.$middle-up-size) {
// }

// @media screen and (max-width: variables.$small-size) {
// }
