.home-me-content {
  margin-top: 16px;
  margin-bottom: 16px;
  background: rgb(21, 21, 21);
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-me-title {
  color: white;
  font-size: 58px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 20px;
}

.home-me-desc {
  color: white;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .home-me-title {
    font-size: 44px;
  }

  .home-me-desc {
    font-size: 18px;
    line-height: 24px;
  }
}
