.titletopbar-content {
  height: 300px;
  --gradient-from: 247 185 85;
  --gradient-to: 255 0 128;
  background: linear-gradient(180deg, #fff 0, hsla(0, 0%, 100%, 0) 100%),
    linear-gradient(
      90deg,
      rgb(var(--gradient-from, 192.5 192.5 192.5) / 0.08) 0,
      rgb(var(--gradient-to, 192.5 192.5 192.5) / 0.08) 100%
    ),
    linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 90%,
      transparent
    );
}
