.home-top-content {
    width: 100%;

    /* background-image: linear-gradient(
    to right,
    rgb(120, 221, 252),
    rgb(69, 171, 255),
    rgb(69, 143, 255),
    rgb(140, 69, 255)
  ); */
    --gradient-from: 247 185 85;
    --gradient-to: 255 0 128;

    background:
        linear-gradient(180deg, #ffffff 0, hsl(0deg 0% 100% / 0%) 100%),
        linear-gradient(
            90deg,
            rgb(var(--gradient-from, 192.5 192.5 192.5) / 8%) 0,
            rgb(var(--gradient-to, 192.5 192.5 192.5) / 8%) 100%
        ),
        linear-gradient(
            to right,
            transparent,
            rgb(0 0 0 / 0%) 10%,
            rgb(0 0 0 / 0%) 90%,
            transparent
        );
}

.rotate-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
}

.rotate-middle-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-top-bar {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: -550px;
    height: 550px;
    flex-direction: row;
}

.top-bar div:nth-child(1) {
    padding-bottom: 10px;
}

.home-welcome-title-ch {
    text-align: center;
    color: #000000;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(180deg, #555555, #000000);
}

.home-welcome-desc {
    text-align: center;
    color: #5c5c5cdf;
}

.home-welcome-contact-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.home-welcome-contact {
    display: inline-block;
    width: fit-content;
    color: #000000;
    background:
        linear-gradient(
            135deg,
            rgb(var(--gradient-from) / 15%) 0,
            rgb(var(--gradient-to) / 15%) 100%
        );
    cursor: pointer;
}

.home-top-text-content {
    padding: 0 24px;
}

@media screen and (max-width: 910px) {

    .home-top-text-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .home-welcome-title-ch {
        width: 100%;
        font-size: 40px;
        font-weight: 500;
    }

    .home-welcome-desc {
        padding-top: 16px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }

    .home-welcome-contact {
        margin-top: 24px;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 32px;
    }
}

@media screen and (min-width: 911px) and (max-width: 1199px) {

    .home-top-text-content {
        display: flex;
        justify-content: center;
        width: 800px;
        flex-direction: column;
    }

    .home-welcome-title-ch {
        font-size: 54px;
        font-weight: 800;
        line-height: 73px;
    }

    .home-welcome-title-eg {
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .home-welcome-desc {
        padding-top: 32px;
        line-height: 24px;
        font-size: 14px;
        text-align: center;
    }

    .home-welcome-contact {
        margin-top: 24px;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 32px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1792px) {

    .home-top-text-content {
        display: flex;
        justify-content: center;
        width: 1000px;
        flex-direction: column;
    }

    .home-welcome-title-ch {
        font-size: 100px;
        font-weight: 800;
    }

    .home-welcome-title-eg {
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 3px;
    }

    .home-welcome-desc {
        padding-top: 30px;
        line-height: 28px;
        font-size: 20px;
    }

    .home-welcome-contact {
        margin-top: 40px;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 32px;
    }
}

@media screen and (min-width: 1793px) {

    .home-top-text-content {
        display: flex;
        justify-content: center;
        width: 1200px;
        flex-direction: column;
    }

    .home-welcome-title-ch {
        font-size: 100px;
        font-weight: 800;
    }

    .home-welcome-desc {
        padding-top: 32px;
        line-height: 32px;
        font-size: 20px;
    }

    .home-welcome-contact {
        margin-top: 40px;
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 32px;
    }
}
