.logo {
  width: 57px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  font-family: dacing-script;
  cursor: pointer;
  color: #e9e9e9ee;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.logo:hover {
  color: #ffffff;
}
