.inner-header-icon {
  position: relative;
  width: 40px;
  height: 64px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.inner-header-icon span {
  position: absolute;
  top: calc((100% - 1px) / 2);
  left: calc((100% - 25px) / 2);
  width: 25px;
  height: 1px;
  background-color: rgb(0 0 0 / 10%);
}

.inner-header-icon span:nth-child(1) {
  transform: translateY(4px) rotate(0deg);
}

.inner-header-icon span:nth-child(2) {
  transform: translateY(-4px) rotate(0deg);
}

.inner-header-icon-click span:nth-child(1) {
  animation-name: clickfirst;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.inner-header-icon-click span:nth-child(2) {
  animation-name: clickthird;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

/* 第一条线旋转动画 */
@keyframes clickfirst {
  0% {
    transform: translateY(4px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(45deg);
  }
}

/* 第三条线旋转动画 */
@keyframes clickthird {
  0% {
    transform: translateY(-4px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.inner-header-icon-out span:nth-child(1) {
  animation-name: outfirst;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.inner-header-icon-out span:nth-child(2) {
  animation-name: outthird;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes outfirst {
  0% {
    transform: translateY(0) rotate(-45deg);
  }

  100% {
    transform: translateY(-4px) rotate(0deg);
  }
}

@keyframes outthird {
  0% {
    transform: translateY(0) rotate(45deg);
  }

  100% {
    transform: translateY(4px) rotate(0deg);
  }
}
