.home-r-content {
  background-color: rgb(248, 248, 248);
  margin-top: 16px;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-r-back {
  width: 100%;
}

.home-r-title {
  font-size: 22px;
  font-weight: 800;
  text-align: center;
  /* color: rgb(35, 35, 35); */
  background-image: linear-gradient(
    90deg,
    rgb(111, 217, 255) 0%,
    rgb(255, 186, 66) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.home-r-pro-name {
  font-size: 85px;
  font-weight: 800;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    rgb(235, 105, 255) 0%,
    rgb(78, 208, 255) 40%,
    rgba(248, 110, 0, 1) 66.6%,
    rgb(255, 26, 26) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.home-r-pro-desc {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    rgb(235, 105, 255) 0%,
    rgb(78, 208, 255) 40%,
    rgba(248, 110, 0, 1) 66.6%,
    rgb(255, 26, 26) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.home-r-ng {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: rgb(48, 124, 255);
  text-decoration: underline;
  text-decoration-color: rgb(48, 124, 255);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.sample-content {
  padding-bottom: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
