.home-r-content {
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 48px;
}

.home-r-back {
  width: 100%;
}

.home-r-title {
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    rgb(235, 105, 255) 0%,
    rgb(78, 208, 255) 40%,
    rgba(248, 110, 0, 1) 66.6%,
    rgb(255, 26, 26) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.home-r-pro-name {
  font-size: 64px;
  font-weight: 800;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    rgb(235, 105, 255) 0%,
    rgb(78, 208, 255) 40%,
    rgba(248, 110, 0, 1) 66.6%,
    rgb(255, 26, 26) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.home-r-pro-desc {
  padding-top: 8px;
  padding-bottom: 32px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    rgb(235, 105, 255) 0%,
    rgb(78, 208, 255) 40%,
    rgba(248, 110, 0, 1) 66.6%,
    rgb(255, 26, 26) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sample-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
