.me-photo-content {
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.me-photo-second-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.me-photo-circle {
  height: 64px;
  width: 64px;
  border: 2px solid rgb(241, 241, 241);
  border-radius: 100%;
  /* background-color: rgb(0, 0, 0); */
}
