$title: #696969;
$subtitle: #666666;

/* Responsive Size */
$small-size: 1199px;
$middle-up-size: 1439px;
$middle-down-size: 1200px;
$large-up-size: 1919px;
$large-down-size: 1440px;
$max-size: 1920px;

@mixin plaid-bg-white() {
  background: #ffffff
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUAQMAAAC3R49OAAAABlBMVEUAAAD19fWydBufAAAAAnRSTlMAgJsrThgAAAAUSURBVAjXY/j//wNDA4MANTDILACHzA/9syP4tgAAAABJRU5ErkJggg==");
}
