.bottom-label {
  padding-top: 4px;
  text-align: center;
  color: darkgrey;
}

.bottom-line {
  margin-top: 36px;
  margin-bottom: 8px;
  width: 100%;
  border: 0.3px solid #dadada;
}

@media screen and (max-width: 910px) {
  .bottom-label {
    padding-top: 4px;
  }

  .bottom-line {
    margin-top: 48px;
  }
}

@media screen and (min-width: 911px) and (max-width: 1199px) {
  .bottom-line {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1792px) {
  .bottom-label {
    padding-top: 4px;
  }

  .bottom-line {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1793px) {
  .bottom-line {
    margin-top: 100px;
  }
}
