.bottom-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: #fafafa;
  padding: 52px 0px 24px;
  
}

.bottom-middle-content {
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: 14px;
  padding-bottom: 24px;
  color: rgba(0, 0, 0, 0.9);
}

.contact-message {
  font-size: 14px;
  color: #666666ee;
  padding-bottom: 12px;
}

.bottom-label {
  padding-top: 4px;
  text-align: center;
  color: darkgrey;
}

.bottom-line {
  margin-top: 36px;
  margin-bottom: 8px;
  width: 100%;
  border: 0.3px solid #dadada;
}

@media screen and (max-width: 910px) {
  .bottom-middle-content {
    width: 90%;
  }
  .contact-title {
    padding-bottom: 14px;
  }
  .contact-message {
    padding-bottom: 4px;
  }
  .bottom-label {
    padding-top: 4px;
  }
  .bottom-line {
    margin-top: 48px;
  }
}
@media screen and (min-width: 911px) and (max-width: 1199px) {
  .bottom-middle-content {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1792px) {
  .bottom-middle-content {
    width: 1000px;
  }
  .contact-title {
    padding-bottom: 16px;
  }
  .contact-message {
    padding-bottom: 8px;
  }
  .bottom-label {
    padding-top: 4px;
  }
  .bottom-line {
    margin-top: 28px;
  }
}
@media screen and (min-width: 1793px) {
  .bottom-middle-content {
    width: 1200px;
  }
}
