@use "src/styles/variables.scss";

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.middleContent {
  padding: 45px 36px;
  width: 1400px;
  border-top: 1px solid #dfdfdf;
  box-sizing: border-box;
}

.sign {
  display: inline;
  width: auto;
  font-size: 18px;
  font-family: Cereal, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #484848;
}

@media screen and (min-width: variables.$large-down-size) and (max-width: variables.$large-up-size) {

  .middleContent {
    width: 1120px;
  }
}

@media screen and (min-width: variables.$middle-down-size) and (max-width: variables.$middle-up-size) {

  .middleContent {
    width: 910px;
  }
}

@media screen and (max-width: variables.$small-size) {

  .middleContent {
    width: auto;
  }
}
