.work-detail-list-content {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
}

.work-detail-list-date-content {
  padding-right: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-detail-list-date {
  width: 64px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: rgb(0, 0, 0);
}

.work-detail-list-single-title {
  width: 64px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.work-detail-list-text-content {
  font-size: 14px;
  font-weight: 200;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-detail-list-title {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 4px;
}

.work-detail-list-item {
  line-height: 24px;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .work-detail-list-date {
    font-size: 8px;
    /* font-weight: 400; */
  }
  .work-detail-list-text-content {
    font-size: 8px;
    /* font-weight: 400; */
  }
}
