.home-var {
  --inner-width: 1240px;
}

.top-content {
  background-color: rgb(4, 13, 33);
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  color: white;
  position: relative;
}

.top-content-inner {
  width: var(--inner-width);
  z-index: 10;
}

.text-content {
  padding-top: 180px;
}

.top-content-title {
  line-height: 60px;
  font-size: 60px;
  font-weight: 800;
  color: white;
}

.content-description {
  padding-top: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #8193b2;
  width: 1000px;
}

.left-blue {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url('../../assets/img/blue-circle-small.png');
  height: 600px;
  width: 600px;
}

.right-blue-purple {
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url('../../assets/img/blue-purple-small.png');
  height: 600px;
  width: 600px;
}

.project-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-content-inner {
  width: var(--inner-width);
}
