.logo {
    display: flex;
    justify-content: center;
    height: 64px;
    font-size: 30px;
    font-family: dacing-script;
    font-weight: 500;
    color: #000000;
    transition: 0.3s;
    line-height: 64px;
    cursor: pointer;
    flex-direction: row;
}
