.logo {
  height: 64px;
  line-height: 64px;
  font-size: 30px;
  font-weight: 600;
  font-family: dacing-script;
  cursor: pointer;
  color: #000;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width: 910px) {
  .logo {
    font-weight: 500;
  }
}
@media screen and (min-width: 911px) and (max-width: 1199px) {
}
@media screen and (min-width: 1200px) and (max-width: 1792px) {
}
@media screen and (min-width: 1793px) {
}
