.logo {
  width: 57px;
  height: 64px;
  line-height: 64px;
  font-size: 30px;
  font-weight: 600;
  font-family: dacing-script;
  cursor: pointer;
  color: #000;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
