.me-info-list-content {
  display: flex;
  flex-direction: row;
  padding-top: 22px;
}

.me-info-list-img-content {
  padding-top: 6px;
  padding-right: 28px;
}

.me-info-list-text-content {
  flex-grow: 1;
}

.me-info-list-img-wrap {
  width: 64px;
  height: 64px;
  background-color: white;
}

.me-info-list-img {
  width: 64px;
  height: 64px;
}

.me-info-list-uni {
  font-size: 26px;
  font-weight: 400;
  color: rgb(46, 46, 46);
  padding-bottom: 4px;
}

.me-info-list-major {
  font-size: 20px;
  font-weight: 200;
  color: rgb(46, 46, 46);
  padding-bottom: 8px;
}

.me-info-list-date {
  font-size: 16px;
  font-weight: 200;
  color: rgb(46, 46, 46);
}

.me-info-list-detail-btn-content {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
}

.me-info-list-detail-click {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.me-info-list-detail-btn {
  padding-right: 4px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(48, 124, 255);
  display: inline-block;
  width: auto;
}

.me-info-list-detail-arrow-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.me-info-list-detail-arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.5s;
}

.me-info-list-detail-arrow-up {
  transform: rotate(180deg);
}
