@use "src/styles/variables.scss";

.content {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 64px;
  background: #ffffffcc;
  transition: background-color 0.36s;
  transition-delay: 0.3s;
  backdrop-filter: blur(10px);
}

.middleContent {
  width: 1280px;
}

@media screen and (min-width: variables.$large-down-size) and (max-width: variables.$large-up-size) {

  .middleContent {
    width: 1120px;
  }
}

@media screen and (min-width: variables.$middle-down-size) and (max-width: variables.$middle-up-size) {

  .middleContent {
    width: 910px;
  }
}

@media screen and (max-width: variables.$small-size) {

  .middleContent {
    width: auto;
  }
}
