.navigation {
  --background-color: black;
  --font-color: white;
  --font-color-hover: white;
  --font-size: 14px;
}

.navigation-row {
  width: 100%;
  height: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--background-color);
}

.navigation-choice {
  margin-left: 28px;
  margin-right: 28px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--font-color);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size);
}

.navigation-choice:hover {
  color: var(--font-color-hover);
}
