.navigation-var {
  --background-color: none;
  --font-color: white;
  --font-color-hover: white;
  --font-size: 17px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.left-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.navigation-choice {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: white;
  font-size: var(--font-size);
  margin-left: 40px;
  font-weight: 500;
  text-align: center;
  transition: color 0.2s;
}

.navigation-choice:hover {
  color: rgb(189, 189, 189);
}

.logo {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
