.ng-content {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.ng-pc {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.ng-pc-choice-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
}

.ng-pc-choice {
  width: 60px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  color: #e0e0e0ee;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ng-pc-choice:hover {
  color: #ffffff;
}

.github-content {
  width: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.github-middle-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icon {
  width: 20px;
  height: 20px;
}

.dropdown {
  position: absolute;
  height: 40px;
  width: 100%;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 10;
}

.dropdown-menu {
  position: relative;
  top: 40px;
  margin: auto;
  margin-top: 15px;
  width: 80%;
  height: 340px;
  display: none;
}

.dropdown-menu-black a {
  color: #262626;
}

.dropdown-line {
  position: relative;
  top: 39px;
  width: 100%;
  display: none;
}

.dropdown-line-white {
  border-top: 0.9px solid rgba(226, 226, 226, 0.76);
}

.dropdown-line-black {
  border-top: 0.9px solid rgb(255, 255, 255);
}

.dropdown-line-show {
  position: absolute;
  top: 39px;
  width: 100%;
  border-top: 0.9px solid rgba(107, 107, 107, 0.479);
  z-index: 50;
}

.dropdown-menu hr {
  margin-top: 11px;
  margin-bottom: 11px;
  border: none;
  height: 1px;
}

.dropdown-menu-white hr {
  background-color: rgba(223, 223, 223, 0.548);
}

.dropdown-menu-black hr {
  background-color: rgb(255, 255, 255);
}

.dropdown-menu a p {
  font-weight: 410;
  font-size: 18px;
  margin: 0;
  height: 20px;
  line-height: 20px;
}

@media screen and (min-width: 0px) and (max-width: 1450px) {
  .navigation-content {
    left: 5%;
    width: 90%;
  }
}

@media screen and (min-width: 0) and (max-width: 900px) {
  .choice {
    display: none;
  }
  .github-content {
    display: none;
  }
  .logo {
    margin: auto;
    text-align: center;
    font-size: 30px;
  }
  .logo-white {
    color: #ffffff;
  }
  .logo-black {
    color: #262626;
  }
}
