.project-list-content {
  min-height: 50vh;
  padding: 64px 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.project-list-title {
  font-size: 32px;
  padding-bottom: 14px;
  margin-bottom: 24px;
  border-bottom: 0.5px solid #d8d8d8;
}
.project-list-subtitle {
  font-size: 16px;
  color: #3f3f3f;
  cursor: pointer;
}

@media screen and (max-width: 910px) {
  .project-list-middle-content {
    width: 100%;
    padding: 0px 24px;
  }
}
@media screen and (min-width: 911px) and (max-width: 1199px) {
  .project-list-middle-content {
    width: 800px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1792px) {
  .project-list-middle-content {
    width: 1000px;
  }
}
@media screen and (min-width: 1793px) {
  .project-list-middle-content {
    width: 1200px;
  }
}
