.circle {
  position: relative;
  animation: rotating 200s linear infinite;
  width: 550px;
  height: 550px;
}

@keyframes rotating {
  /*以百分比来规定改变发生的时间 也可以通过"from"和"to",等价于0% 和 100%*/
  0% {
    /*rotate(2D旋转) scale(放大或者缩小) translate(移动) skew(翻转)*/
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-one {
  fill: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 150px;
  left: 150px;
  font-size: 0.4rem;
}

.circle-two {
  fill: rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 75.5px;
  left: 75.5px;
  font-size: 0.3rem;
}

.circle-three {
  fill: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 0.2rem;
}

path {
  fill: rgb(194, 194, 194);
}
