.about-design-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 16px;
}

.about-design-middle {
  padding: 0px 16px;
  width: 100%;
  max-width: 800px;
}

.about-design-title {
  padding: 36px 0px;
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  color: #1d1d1f;
}

.about-design-text {
  text-indent: 2em;
  font-size: 17px;
  line-height: 36px;
  color: #1d1d1f;
}

.about-design-img-content {
  overflow-x: auto;
}

.about-design-img {
  padding: 28px 0px;
  width: 800px;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .about-design-title {
    font-size: 32px;
    line-height: 28px;
    padding: 38px 0px;
  }

  .about-design-text {
    font-size: 14px;
    line-height: 34px;
  }
}
