.work-detail-list-content {
  padding-top: 16px;
  display: flex;
  flex-direction: row;
}

.work-detail-list-date-content {
  padding-right: 28px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-detail-list-date {
  width: 64px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  color: rgb(46, 46, 46);
}

.work-detail-list-text-content {
  font-size: 14px;
  font-weight: 200;
  color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-detail-list-title {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 4px;
}
