.circle {
  width: 550px;
  height: 550px;
  animation: rotating 200s linear infinite;
  position: relative;
}

@keyframes rotating {
  /*以百分比来规定改变发生的时间 也可以通过"from"和"to",等价于0% 和 100%*/
  0% {
    /*rotate(2D旋转) scale(放大或者缩小) translate(移动) skew(翻转)*/
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-one {
  position: absolute;
  top: 150px;
  left: 150px;
  fill: rgb(207, 207, 207);
}

.circle-two {
  position: absolute;
  top: 75.5px;
  left: 75.5px;
  fill: rgb(207, 207, 207);
}

.circle-three {
  position: absolute;
  top: 0px;
  left: 0px;
  fill: rgb(207, 207, 207);
}

path {
  fill: rgb(194, 194, 194);
}
