.news {
  width: 100%;
}

.news-blue {
  background-image: linear-gradient(
    to right,
    rgb(120, 221, 252),
    rgb(69, 171, 255),
    rgb(69, 143, 255),
    rgb(156, 69, 255)
  );
}

.news-text {
  margin: auto;
  line-height: 20px;
  text-align: center;
  font-size: x-small;
  color: white;
}
