@use "src/styles/variables.scss";

@function vw($target) {
  $vw-context: (780 * 0.01) * 1px;

  @return ($target / $vw-context) * 1vw;
}

.content {
  --padding: 24px;
  --radius: 12px;
  --hover-color: #ffffff;

  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: var(--padding);
  width: 100%;
  max-height: 380px;
  border: 1px solid #eaeaea;
  border-radius: var(--radius);
  transition-property: all;
  transition-duration: 0.15s;
}

.imgContent {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  padding-right: 16px;

  .imgMiddle {

    .img {
      height: 36px;
    }
  }
}

.textContent {

  .title {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
  }

  .label {
    padding-top: 4px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-1);
    color: #666666;
  }
}

@media screen and (min-width: variables.$middle-down-size) and (max-width: variables.$middle-up-size) {

  .textContent {

    .title {
      font-size: 20px;
      font-weight: 700;
      color: #2b2b2b;
    }

    .label {
      padding-top: 16px;
      font-size: 14px;
      color: #767676;
    }
  }
}

@media screen and (max-width: variables.$small-size) {

  .content {
    padding-bottom: vw(84px);
    width: auto;
  }

  .textContent {
    padding-top: vw(12px);
    font-size: vw(32px);

    .title {
      font-size: vw(42px);
      color: #2b2b2b;
    }

    .label {
      padding-top: vw(16px);
      font-size: 14px;
      color: #767676;
    }
  }
}
