@use "src/styles/variables.scss";

.content {
  width: 340px;
}

.imgContent {
  display: flex;
  justify-content: center;
  height: 200px;

  .imgMiddle {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .img {
      height: 120px;
    }
  }
}

.textContent {
  padding-top: 24px;
  font-size: 18px;

  .title {
    display: inline;
    font-weight: 700;
    color: #2b2b2b;
  }

  .label {
    display: inline;
    padding-top: 16px;
    color: #767676;
  }
}

@media screen and (min-width: variables.$middle-down-size) and (max-width: variables.$middle-up-size) {

  .content {
    width: 280px;
  }

  .imgContent {
    height: 180px;

    .imgMiddle {

      .img {
        height: 100px;
      }
    }
  }

  .textContent {
    padding-top: 18px;
    font-size: 16px;
  }
}
