body {
  font-size: 13px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: dacing-script;
  src: url(./assets/font/dacing-script.ttf);
}

a {
  color: white;
  font-weight: 500;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul li {
  padding: 0px;
  margin: 0px;
}