@use 'src/styles/variables.scss';

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 180px 0px;
}

@media screen and (min-width: variables.$max-size) {
}

@media screen and (min-width: variables.$large-down-size) and (max-width: variables.$large-up-size) {
}

@media screen and (min-width: variables.$middle-down-size) and (max-width: variables.$middle-up-size) {
}

@media screen and (max-width: variables.$small-size) {
}
